$white: #fff;
$sky: skyblue;
$blue: #35449a;
$boder-b: #3a398b;
$black: black;
$light-blue: #6772bbfd;
$light-purple: #ceceeb;
$light-gray: #ecdcbd;
$light-green :#598a2f;
$light-red:#f05c42;
$List-yellow: #edc95a;
$shadow: #0000000d;
$shadow-g: #b6bbceb2;
$border-g: #ddd;
$home-bc: #ecdcbd;
$ico_gray:#8a8a8a;
$cut-line:rgba(217, 217, 217, 0.83);
$mall-orange:#ff9234;
$tab-color:$white;