$white: #fff;
$sky: skyblue;
$blue: #35449a;
$boder-b: #3a398b;
$light-blue: #6772bbfd;
$light-purple: #ceceeb;
$light-gray: #ecdcbd;
$List-yellow: #edc95a;
$shadow: #0000000d;
$shadow-g: #b6bbceb2;
$border-g: #ddd;
$home-bc: #ecdcbd;
$black: black;
$ico_gray:#8a8a8a;