@import "./color.scss";
// todolist的一些button样式
.btn {
    padding: 4px 12px;
    font-size: 14px;
    line-height: 20px;
    box-shadow: inset 0 1px 1px 1px $shadow-g;
    cursor: pointer;
}

.btn-danger {
    color: $white;
    background-color: $blue;
    border: 1px solid $boder-b;
    &:hover {
        color: $white;
        background-color: $light-blue;
    }
    &:focus {
        outline: none;
    }
}

//   footer组件